body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.weather-container {
  max-width: 100%;
  padding: 20px;
}
.weather-container #main-heading {
  font-size: 60px;
  margin-bottom: 0px;
}
.weather-container h4 {
  margin: 0px;
  font-size: 20px;
}
.weather-container .main-content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.weather-container .main-content .current-weather {
  grid-column: span 3;
  margin-top: 25px;
  display: flex;
  align-items: start;
  position: relative;
}
.weather-container .main-content .current-weather #temp {
  font-size: 70px;
  position: absolute;
  top: -70px;
  left: 105px;
}
.weather-container .main-content .current-weather #temp sup {
  font-size: 45%;
}
.weather-container .main-content .current-weather #clouds {
  height: 100px;
}
.weather-container .main-content .forecast ul p {
  margin-top: 25px;
  margin: 5px;
}
.weather-container .main-content .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column: span 7;
  width: 100%;
}
.weather-container .footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}