.personSkills{
    background-color: #a6d8ff;
    height: 500px;
    width: 660px;
    h2{
        color:#e2aa3b;
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
    }
    ul > li {
        margin: 40px;
        font-size: 25px;
        list-style-type: none;
        color: #5cb16d;
    }
}